.SearchResults {
  background-color: lightblue;

  & > h1 {
    padding: 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, max-content)
    );
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }
}
